# Rename to CITATION.cff only after all TODO fields are finalized.
cff-version: 1.2.0
message: "If you use this accelerator, please cite the associated paper."
title: "TODO: final project or artifact title"
type: software
authors:
  - family-names: "TODO"
    given-names: "TODO"
repository-code: "https://github.com/lockezhan/AIE-FlashStream"
year: 2026
preferred-citation:
  type: conference-paper
  title: "TODO: final FPT paper title"
  authors:
    - family-names: "TODO"
      given-names: "TODO"
  collection-title: "TODO: final conference proceedings title"
  year: 2026
  doi: "TODO: add only after DOI assignment"
