[connectivity]
nk=llama3_attention_aie8_packet:1:llama3_attention_aie8_packet_1

# Q & K Packet Streams (unchanged from V20)
stream_connect=llama3_attention_aie8_packet_1.packet_q0:ai_engine_0.packet_q0
stream_connect=llama3_attention_aie8_packet_1.packet_q1:ai_engine_0.packet_q1
stream_connect=llama3_attention_aie8_packet_1.packet_k0:ai_engine_0.packet_k0
stream_connect=llama3_attention_aie8_packet_1.packet_k1:ai_engine_0.packet_k1

# V 6-Slice Packet Streams
stream_connect=llama3_attention_aie8_packet_1.packet_v0:ai_engine_0.packet_v0
stream_connect=llama3_attention_aie8_packet_1.packet_v1:ai_engine_0.packet_v1
stream_connect=llama3_attention_aie8_packet_1.packet_v2:ai_engine_0.packet_v2
stream_connect=llama3_attention_aie8_packet_1.packet_v3:ai_engine_0.packet_v3
stream_connect=llama3_attention_aie8_packet_1.packet_v4:ai_engine_0.packet_v4
stream_connect=llama3_attention_aie8_packet_1.packet_v5:ai_engine_0.packet_v5

# Output 6-Slice Packet Streams
stream_connect=ai_engine_0.packet_o0:llama3_attention_aie8_packet_1.packet_o0
stream_connect=ai_engine_0.packet_o1:llama3_attention_aie8_packet_1.packet_o1
stream_connect=ai_engine_0.packet_o2:llama3_attention_aie8_packet_1.packet_o2
stream_connect=ai_engine_0.packet_o3:llama3_attention_aie8_packet_1.packet_o3
stream_connect=ai_engine_0.packet_o4:llama3_attention_aie8_packet_1.packet_o4
stream_connect=ai_engine_0.packet_o5:llama3_attention_aie8_packet_1.packet_o5

[advanced]
param=compiler.addOutputTypes=hw_export
